# Dependency directories
node_modules/

# Build directories
.serverless
.webpack

# Logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage
.nyc_output

# dotenv environment variables file
.env
secrets.sh
.secrets

# Settings files!
settings/*
!settings/production.yml
!settings/staging.yml
.DS_Store

# IDE files
.idea
