# Dependency directories
node_modules/

# Build directories
.serverless
.webpack

# Logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage
.nyc_output

# dotenv environment variables file
.env

# Settings files!
settings/*
!settings/prod.yml
!settings/dev.yml
